<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            {% if status == 'success_sign' %}
                <h1 style="margin-bottom : 30px">registered successfully! Welcome {{user}}</h1>
                <a href={% url 'form_app:index' %} class="btn btn-primary">Log Out</a>

            {% elif status == 'repeat_sign' %}
                <h1 style="margin-bottom : 30px">User already registered</h1>
                <a href={% url 'form_app:form_sign' %} class="btn btn-primary">Sign-Up</a>
                <a href={% url 'form_app:form_log' %} class="btn btn-primary">Log In</a>
                <a href={% url 'form_app:index' %} class="btn btn-primary">Home</a>

            {% elif status == 'error_sign' %}
                <h1 style="margin-bottom : 30px">Could not register successfully</h1>
                <a href={% url 'form_app:form_sign' %} class="btn btn-primary">Sign-Up</a>
                <a href={% url 'form_app:form_log' %} class="btn btn-primary">Log In</a>
                <a href={% url 'form_app:index' %} class="btn btn-primary">Home</a>

            {% elif status == 'success_log' %}
                <h1 style="margin-bottom : 30px">Logged In successfully! Welcome {{user}}</h1>
                <a href={% url 'form_app:user_logout' %} class="btn btn-primary">Log Out</a>
               

            {% elif status == 'fail_log' %}
                <h1 style="margin-bottom : 30px">Could not log in! Either email or password is incorrect</h1>
                <a href={% url 'form_app:form_sign' %} class="btn btn-primary">Sign-Up</a>
                <a href={% url 'form_app:form_log' %} class="btn btn-primary">Log In</a>
                <a href={% url 'form_app:index' %} class="btn btn-primary">Home</a>

            {% elif status == 'error_log' %}
                <h1 style="margin-bottom : 30px">Failed to Log In</h1>
                <a href={% url 'form_app:form_sign' %} class="btn btn-primary">Sign-Up</a>
                <a href={% url 'form_app:form_log' %} class="btn btn-primary">Log In</a>
                <a href={% url 'form_app:index' %} class="btn btn-primary">Home</a>

            {% endif %}
        </div>
        
    </body>
</html>