<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <style>
            #text_area{
                border: 2px black solid
            }
        </style>
    </head>
    <body>
        <h2>write the text below and save</h2>
        <form method="POST">
            {% csrf_token %}
            {{ text_form.as_p}}
            <input type="submit" class = "btn btn-primary" value="Save">
        </form>
    </body>
</html>